
<div class="flex-container">
    <a class="flex-item start-here" target="_blank" href="{{ url('configure/guide/intro') }}">
        Unity
    </a>
    <a class="flex-item" target="_blank" href="{{ url('configure/locale') }}">
        Configure
    </a>
    <a class="flex-item" href="{{ url('faq') }}">
        FAQ
    </a>
    <a class="flex-item" href="{{ url('user-guides') }}">
        User Guides
    </a>
    <a class="flex-item support-page-link" href="{{ url('contact-us') }}">
        Contact Us
    </a>
</div>

